<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<parameter name="browser" value="chrome"/>
 <listeners>
        <listener class-name="utils.ExtentTestListener"/>
         <listener class-name="utils.RetryTransformer"/>
    </listeners>
  <test thread-count="5" name="Test">
    <classes>
      <class name="tests.LoginApplication"/>
      <class name="tests.ProductApplication"/>
      <class name="tests.CartApplication"/>
      <class name="tests.CheckOutApplication"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
